* {
    font-family: 'Raleway', sans-serif;
}
body {
    padding: 0;
    margin: 0;
}
/*definição do tamanho do cabecalho*/
header {
    display: flex;
    height: 120px;
    justify-content: center;
}
/*tamanho da lateral*/
.container1 {   
    display: flex;
    width: 1055px;
    justify-content: center;
    background-color: black;
}
nav ul,
nav li {
    text-decoration: none;
    list-style: none;
    padding: 0;
    margin: 0;
}
nav a {
    display: block;
    padding: 15px;
    margin: 10px;
    color: white;
    text-decoration: none;
    border: 1px solid black;
    border-radius: 5px;
}
nav .active a,
nav a:hover {
    background-color: rgb(48, 48, 48);
}

nav ul {
    display: flex;
    
}
.menu {
    display: flex;
    align-items: center;
    margin-left:20px ;
}
#biografia {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.foto_principal {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    border: 1px solid black;
}
.biography {
    width: 700px;
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 20px;
}
/*barra*/
.bar {
    width: 100px;
    height: 3px;
    background-color: black;
    margin-top: 50px;
}
/*gallery*/
h1 {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    text-align: center;
    font-size: 30px;
}
.fotos {
    flex:1;
    display: flex;
    justify-content: center;
    padding: 0;
    
}
.foto1 {
    display: flex;
    justify-content: center;
    align-items: center;
}
.foto1 img {
    display: flex;
    margin: 0;
    padding: 0;
    width: 290px;
    height: 400px;
    object-fit: cover;
}
figcaption {
    display: flex;
    height: 20px;
    width: 290px;
    justify-content: center;
    font-size: 12px;
    text-align: justify;
}
.bars {
    display: flex;
    justify-content: center;
}
.bar2 {
    display: flex;
    width: 100px;
    height: 3px;
    background-color: black;
    margin-top: 80px;
}
/*Melhores Musicas*/
.container2 {
    display: flex;
    justify-content: center;
}
#bests {
    display: flex;
    justify-content: center;
    color: black;
    margin-top: 30px;
}
.melhores {
    display: flex;
    justify-content: center;
    padding: 20px;
    width: 300px;
    height: 400px;
    color: black;
}
.melhores img {
    width: 300px;
    height: 400px;
    object-fit: cover;
}
.fig_songs {
    text-align: center;
    font-size: 13px;
}
.rodape {
    display: flex;
    justify-content: center;
}
/*Social Icons*/
.rodape img {
    padding: 5px;
    margin-top: 30px;
    width: 70px;
    height: 70px;
}
#copy {
    padding: 20px;
}

@media (max-width: 1055px) {

.fotos {
    flex-direction: column;
}  
.container1 {
    justify-content: column;

}
.container2 {
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}
#bests {
    padding: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.melhores {
    margin-bottom: 45px;
    padding: 0;
}
.bars2 {
    flex-direction: column;
    padding: 20px;
}
#copy {
    text-align: center;
    margin-top: 20px;
}
.biography {
    width: 400px;
    padding: 10px;
}
}
@media (max-width:600px) {

.biography {
    width: 300px;
    padding: 10px;
}  
.foto_principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.foto_principal img {
    max-width: 300px;
    position: static;
}
.biography {
    width: 320px;
    padding: 10px;
}
nav li, nav a {
    padding: 2px;
    font-size: 13px;
    left: 9px;
}

header {
    display: flex;
    margin: 0;
}
.menu {
    padding: 0;
}
.container1 {
    max-width: 320px;
}

}
